<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formabase.galo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegrasActivity"
            android:label="@string/menu_regras">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Definições" />
        <activity
            android:name=".UltimosJogosActivity"
            android:label="@string/menu_ultimos_jogos">
        </activity>
        <activity
            android:name=".DetalhesJogoActivity">
        </activity>
    </application>

</manifest>